body {
  background-image: url("Images/gaming.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  opacity: 0.85;
}

article {
  margin: 15px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid black;
}

section {
  padding: 10px 10px 10px;
}