.background {
  background-image: url("Images/binary_code_background.jpg");
  border: 2px solid;
}

article {
  margin: 15px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.88;
}

article p {
 margin-left: 2%;
}

section {
  padding: 15px 8px 15px;
}

.card {
  border-style: double;
  border-width: 20px;
  background-color: #ffffff;
}